
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>La organizacion</h2>
                        <p class="text-muted">Las caras atras del CICA</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="device-container">
                        <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/team-large.png" style="margin-top: 45%;" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <i class="icon-ghost text-primary"></i>
                                    <h3>Ruth Esmeralda Barbacil</h3>
                                    <p class="text-muted">Ruth Ingeniera en Sistemas de la Informacion de la Universidad Tecnológica Nacional (UTN). Lider de proyecto en el area de Ciberinteligencia de Deloitte Argentina. Cuenta con experiencia en analisis de malware, asi como en la investigacion de las tacticas, tecnicas y procedimientos empleados por las Amenazas Persistentes Avanzadas (APTs) para contribuir a la mitigacion y la denfesa.</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <i class="icon-ghost text-primary"></i>
                                    <h3>Valentina Palacin</h3>
                                    <p class="text-muted">Analista de Ciberinteligencia Sr. en Deloitte Argentina. Se especializa en el monitoreo de Amenazas Persistentes Avanzadas (APTs) usando el Framework ATT&CL para analizar sus tacticas, sus tecnicas y sus herramientas. Es programadora autodidacta y posee una licenciatura en Traduccion e Interpretacion de la Universidad de Malaga (UMA), y un Diploma en Ciberseguridad de la Universidad Tecnológica Nacional (UTN).</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="feature-item">
                                    <i class="icon-ghost text-primary"></i>
                                    <h3>Francis Guibernau</h3>
                                    <p class="text-muted">To the best of my knowledge, I can help you build your business on the internet if you're a small business, an entrepreneur, a freelancer or a student.</p>
                                </div>
                            </div>
                            <!--
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-social-twitter text-primary"></i>
                                    <h3>Social Sharing</h3>
                                    <p class="text-muted">To share on my network who you are, what you do and what do you do.</p>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
    </section>
