
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Quienes somos?</h2>
                        <p class="text-muted">Comunidad Latinoamericana de Ciberinteligencia y Caza de Amenazas</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/spy-nobckg.png" class="img-responsive" alt=""> </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-people text-primary"></i>
                                    <h3>Nosotros</h3>
                                    <p class="text-muted">Somos una organizacion sin fines de lucro que aspira a reunir a todos los profesionales con sedes en toda latinoamerica.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-info text-primary"></i>
                                    <h3>Nuestros proyectos</h3>
                                    <p class="text-muted">Queremos impulsar el desarrollo de las practicas de ciberinteligencia y caza de amenazas proveyendo a la comunidad de material relacionado en español.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-diamond text-primary"></i>
                                    <h3>Objetivo</h3>
                                    <p class="text-muted">Reunir a los profesionales de Ciberinteligencia y Caza de Amenazas en torno a una comunidad para compartir novedades, tecnicas y recursos, ademas de apoyarnos unos a otros.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-globe-alt text-primary"></i>
                                    <h3>Eventos</h3>
                                    <p class="text-muted">Seguinos via redes sociales para enterarte de los proximos eventos!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
