<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Traduciendo ATT&CK</h2>
                <p>Queremos fortalecer a la comunidad ofreciendole recursos que pueda consumir (y transmitir) de forma fácil y rápida. Para ello queremos eliminar la primera barrera que dificulta la incorporación del framework ATT&CK en muchas organizaciones: el lenguaje.</p>
                <p>Unite a la comunidad y colaborá con la traducción de ATT&CK!</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br />
                        <hr class="primary">
                        <h3>Siempre podes enviarnos tus sugerencias a <a href="mailto:contacto@cicalatam.com">contacto@cicalatam.com</a></h3>
                        <hr class="primary">
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
